# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# RAG generated data
vectorstore/
*.db
*.sqlite
*.pkl

# Dataset (IMPORTANT)
dataset/

# Test / trial files
trial/

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db